<section hlmCard class="font-[Oswald]">
  <div hlmCardHeader class="flex justify-center items-center">
    <h3>Exchange Rates for: {{ currentDate() | date : 'mediumDate' }}</h3>
  </div>
  <div hlmCardContent>
    <div hlmTableContainer class="px-[3rem]">
      <table hlmTable class="table-fixed w-full border-collapse">
        <thead hlmTHead>
          <th hlmTh class="text-[2rem] text-left w-[30%] px-[2rem] px-[0.6rem]">Country</th>
          <th hlmTh class="text-[2rem] text-center w-[25%] px-[2rem] px-[0.6rem]">Country Code</th>
          <th hlmTh class="text-[2rem] text-center w-[15%] px-[2rem] px-[0.6rem]">Currency</th>
          <th hlmTh class="text-[2rem] text-right w-[30%] px-[2rem] px-[0.6rem]">Czech Koruna Equivalent</th>
        </thead>
        <tbody hlmTBody>
          @for (exchangeRate of exchangeRates(); track $index) {
          <tr hlmTr>
            <td hlmTd class="px-[2rem] px-[0.6rem] py-10 text-[1.5rem]">{{ exchangeRate.country }}</td>
            <td hlmTd class="text-center px-[2rem] px-[0.6rem] text-[1rem]">{{ exchangeRate.currencyCode }}</td>
            <td hlmTd class="text-center px-[2rem] px-[0.6rem] text-[1rem]">{{ exchangeRate.currency }}</td>
            <td hlmTd class="text-right px-[2rem] px-[0.6rem] text-[1rem]">{{ exchangeRate.rate/exchangeRate.amount }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
